body {
  border: 8px solid black;
 
  width: 250px;
  height: 100%;
  border-radius: 25px;
  box-shadow: 4px 4px 4px 4px  #f2510b;
  margin: 50px auto;
  
  
  
  background-image: url('http://i67.tinypic.com/1gswz.jpg');
 
}

#calculator {
  font-family: 'Rakkas', cursive;
  background: silver;
  border-radius: 25px;
  background-image:
    url('http://i68.tinypic.com/fnbfyc.jpg');
  
}
h1{
  
  font-size: 25px;
  color: #ffd11a;
}

.textbox{
  background-color: black;
  border: 3px solid silver;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
  color: #f2510b;
  text-align: right;
  height: 50px;
  width: 210px;
  font-size: 2.5em;
}
h2  {
  height: 40px;
  width: 200px;
  background-image: url('http://i66.tinypic.com/xf9k5x.jpg');
}

button {
  color: #f2510b;
  font-size: 20px;
  background-color: #f2510b;
  background-image:
    url('http://i63.tinypic.com/2961zya.jpg');
  width: 45px;
  height: 45px;
  padding-bottom: 15px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  margin-top: 2px;
  border-radius: 25px;
  box-shadow: 4px 4px 4px black;
  outline: none;

       
}